:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --accent-color-opacity: #ff007066;
  --text-color: #f1b2ce;
  --decoration-color: var(--accent-color);
  --background-color: #000028;
  --h1-color: #db00ff;
  --h2-color: var(--accent-color);
  --h3-color: var(--background-color);
  --is-light: visible;
}
