/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  font-family: var(--font-family);
  background-color: var(--background-color);
  font-size: 18px;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
h3,
h2 {
  font-size: 18px;
}
.decorated-zone::before {
  
  align-self: flex-start;
  justify-self: end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  
  justify-self: start;
  align-self: flex-end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decoration-color);
  border-inline-start: 1px solid var(--decoration-color);
}

.header {
  height: 100vh;
  display: grid;
  font-weight: 700;
  grid-template-rows: auto 1fr auto 1fr ;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

.header__decoration-dark {
  visibility: var(--is-light);
  display: flex;
  position: absolute;
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
  height: min-content;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-size: var(--regular-font-size);
  text-transform: uppercase;
  line-height: 25px;
  font-weight: 400;
}

.header__decoration-dark::after {
  align-self: center;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  margin-inline-end: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  text-shadow: 0 0 3px var(--accent-color);
}

.header__theme-menu {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  align-self: center;
  color: var(--accent-color);
  position: relative;
  margin-top: -11px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--h3-color);
}

.header__theme-menu-button {
  line-height: 26px; /* должно совпадать с height */
  text-transform: lowercase;
  color: var(--button-color);
  padding: 0px 13px;
  cursor: pointer;
  margin-top: 10px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}
.header__title {
  grid-row: 3;
  justify-self: start;
  grid-column: 1/3;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--h1-color);
  line-height: var(--small-line-height);
  text-shadow: 4px 4px var(--accent-color);
}

.header__text {
  grid-row: 4;
  grid-column: 1/3;
  justify-self: end;
  align-self: center;
  display: inline-block;
  height: min-content;
  line-height: 1.4628rem;
}

.main{
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap:50px;
}

.thesis:first-of-type {
  margin-block-start: 0;
}

.thesis {
  display: flex;
  flex-direction: column;
  gap:20px;
}

.thesis__title {
  color: var(--h2-color);  
  font-size: 18px;
  line-height: 1.4628rem;
}
.card__text {
  margin-block-start: 10px;
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.4628rem;
}

.second__thesis-title {
  margin-block-end: 20px;
  font-size: 18px;
  line-height: 1.4628rem;
}

.thin-title { 
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4628rem;
}

.text-link {  
  text-decoration: none;
  text-shadow: 3px 2px 0 var(--accent-color);
  line-height: 1.4628rem;
}

.thesis__pictures {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.picture__container { 
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer { 
  display: grid;
  height: 100vh;
  padding: 10px;
}

.footer__title { 
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--h1-color);
  text-shadow: 4px 4px var(--accent-color);
  justify-self: center;
  align-self: center;
}


.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--accent-color-opacity);
}

.text-link:focus {
  outline: 1px solid var(--text-color);
  outline-offset: -1px;
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

@media (width >= 768px){
  .header {
    padding: 20px;
  }

  .header__title {
    position: relative;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .main {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .header__text {
    grid-column: 2;
  }

  .thesis {
    display: grid;
    grid-template-columns: 32% 66%;
    align-items: start;
    gap: 20px;
    grid-auto-rows: auto;
  }

  .half__width-card {
    grid-column: 2;
  }

  .full__width-card {
    grid-column: 1/3;
  }

  .picture__container {
    display: grid;
    box-sizing: 100%;
    gap: 20px;
  }

  
  .thesis__pictures {
    gap: 20px;
  }
  .image {
    object-fit: cover;
    object-position: center;
  }

  .image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .image:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 2;
  }

  .footer__title {
    font-size: (7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px){
  .header__title {
    margin-block-start: -22px;
  }
  .header__theme-menu {
    grid-column: 1/3;
    grid-row: 1;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    margin-block-start: 8px;
    display: flex;
    gap: 10px;
  }

  .header__theme-menu-button {
    margin-top: 0;
  }

  .thesis__table_aricles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
  }
  .full__width-card {
    grid-row:2;
    grid-column: auto;
  }
}
